= image_tag @pin.image.url(:medium)
%h1= @pin.title
%p= @pin.description
%p
Submitted By
= @pin.user.email

= link_to "Geri", root_path
= link_to "Düzenle", edit_pin_path
= link_to "Sil", pin_path, method: :delete, data: { confirm: "Emin misiniz?" }